header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;

    nav {
        width: 30%;

        ul {
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            list-style: none;
        }
    }
}

.header-title {
    font-size: 32px;
    font-weight: bold;
}