#private {
    padding: 40px 0;
}

.pv-title {
    font-size: 30px;
}

.pv-content {
    padding: 20px;
    width: 600px;
}

.like-title {
    font-size: 20px;

    &::after {
        display: block;
        width: 100%;
        content: "";
        border-top: 1px solid black;
    }
}

.into-title {
    font-size: 20px;

    &::after {
        display: block;
        width: 100%;
        content: "";
        border-top: 1px solid black;
    }
}

.worries-title {
    font-size: 20px;

    &::after {
        display: block;
        width: 100%;
        content: "";
        border-top: 1px solid black;
    }
}